<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.zk.demo.entities.Device" alias="Device"/>
		<typeAlias type="com.zk.demo.entities.Table" alias="Table"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/zk/demo/mappers/DeviceDao.xml"/>
		<mapper resource="com/zk/demo/mappers/TableDao.xml"/>
	</mappers>
</configuration>