<!DOCTYPE html>
<html>
<head>
    <title>连接测试</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="${rc.contextPath}/static/bootstrap_3.3.0/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="${rc.contextPath}/static/bs_pagination/css/jquery.bs_pagination.min.css" type="text/css"/>
    <script type="text/javascript" src="${rc.contextPath}/static/js/jquery-1.11.1-min.js"></script>
    <script type="text/javascript" src="${rc.contextPath}/static/bootstrap_3.3.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="${rc.contextPath}/static/bs_pagination/js/jquery.bs_pagination.min.js"></script>
    <script type="text/javascript" src="${rc.contextPath}/static/bs_pagination/js/localization/en.js"></script>
</head>

<script>

    //自动更新状态的标记变量
    var auto_flag = 0;

    $(function() {

        //---------------------获取表的列表--------------------
        getTableList();

        //----------------获取数据---------------------
        $("#getDataBtn").click(function() {

            if($(".selectClass:checked").length == 0) {
                alert("请选中需要操作的数据!");
                return false;
            }

            var $obj = $(".selectClass:checked");
            var str = '';
            $.each($obj,function() {
                var id = $(this).attr("s_id");
                str += 'ids='+id+'&';
            });

            $.ajax({
                url:'${rc.contextPath}/device/getData.do',
                data:str,
                type:'post',
                beforeSend:function() {
                    $("#getDataBtn").attr("disabled",true);
                },
                success:function(data) {
                    if(data) {
                        alert("数据获取成功");
                    }else {
                        alert("服务器正忙,请稍后重试~");
                    }
                },
                complete: function () {
                    $("#getDataBtn").attr("disabled",false);
                }
            });
        });

        //------------------更新数据----------------------
        $("#updateDataBtn").click(function() {
            if($(".selectClass:checked").length == 0) {
                alert("请选中需要操作的数据!");
                return false;
            }
            var $obj = $(".selectClass:checked");
            var str = '';
            $.each($obj,function() {
                var id = $(this).attr("s_id");
                str += 'ids='+id+'&';
            });
            $.ajax({
                url:'${rc.contextPath}/device/updateData.do',
                type:'post',
                data:str,
                beforeSend:function() {
                    $("#updateDataBtn").attr("disabled",true);
                    $("#s_msg").html("正在测试连接,请勿进行其他操作");
                },
                success:function(data) {
                    if(data == -1) {
                        alert("请先进行数据的初始化!");
                    }else if(data == null) {
                        alert("状态更新失败,请重试");
                    }else if(data == 0){
                        alert("数据状态未发生变化");
                    }else {
                        alert("更新成功!共更新"+data+"条数据");
                    }
                },
                complete: function () {
                    $("#updateDataBtn").attr("disabled",false);
                    $("#s_msg").html("");
                }
            });
        });

        //--------------------自动更新---------------------------
        $("#autoUpdate").click(function() {

            if($(".selectClass:checked").length == 0) {
                alert("请选中需要操作的数据!");
                return false;
            }

            var $obj = $(".selectClass:checked");
            var str = '';
            $.each($obj,function(i) {
                var id = $(this).attr("s_id");
                if(i == $(".selectClass:checked").size() - 1) {
                    str += id;
                }else {
                    str += id + ",";
                }
            });

            var time = $.trim($("#time").val());
            if(time.length == 0) {
                $("#s_msg").html("请输入自动更新的时间间隔");
                return false;
            }else  if(isNaN(time)) {
                $("#s_msg").html("请输入数字");
                return false;
            }else if(time <= 0){
                $("#s_msg").html("请输入正数");
                return false;
            }else {
                $("#s_msg").html("");
                $.ajax({
                    url:'${rc.contextPath}/device/autoUpdateData.do',
                    data:{
                        time:time,
                        id:str,
                        auto_flag:auto_flag
                    },
                    success:function(data) {
                        $("#s_msg").html("已经启用自动更新");
                        if(data == 1) {
                            $("#autoUpdate").attr("disabled",true);
                            auto_flag = data;
                        }
                    }
                });
            }

        });

        //------------------停止自动更新-----------------
       $("#cancleTimer").click(function() {
           if(auto_flag == 0) {
               $("#time").val("");
               $("#s_msg").html("");
                return;
           }
           $.ajax({
                url:'${rc.contextPath}/device/cancleTimer.do',
                data:{
                    auto_flag:auto_flag
                },
                success:function(data) {
                    alert("已经停止自动更新");
                    $("#time").val("");
                    $("#s_msg").html("");
                    if(data == 0) {
                        auto_flag = data;
                        $("#autoUpdate").attr("disabled",false);
                    }
                }
            });
        });

        //--------------------添加新的表--------------------
        $("#addTable").click(function() {
            window.location="${rc.contextPath}/table/toAddTable.do";
        });

        //-----------------------修改表的内容------------------
        $("#tableList").on("click",".updateClass",function() {
            var id = $(this).attr("u_id");
            window.location="${rc.contextPath}/table/toUpdateTable.do?id="+id;
        });

        //-------------------------删除表的内容------------------------
        $("#tableList").on("click",".delClass",function() {
            var id = $(this).attr("d_id");
            $.ajax({
                url:'${rc.contextPath}/table/deleteTable.do',
                data:{
                    id:id
                },
                type:'post',
                success:function(data) {
                    if(data == 1) {
                        $("#"+id).remove();
                    }else {
                        alert("删除失败,请重试");
                    }
                }
            });
        });

        //----------------------全选的方法--------------------
        $("#selectAll").bind("click",function() {
            var flag = $("#selectAll").prop("checked");
            $.each($(".selectClass"),function() {
                this.checked = flag;
            });
        });
        //--------------------------------------
        $("#tableList").on("click", ".selectClass",function() {
            //选中的个数等于每页显示的个数时,挑中全选的按钮
            if($(".selectClass:checked").length == $("#tableList input[class='selectClass']").length) {
                $("#selectAll").prop("checked",true);
            }else {
                $("#selectAll").prop("checked",false);
            }
        });

        //------------------查看详情------------------
        $("#tableList").on("click",".detailClass",function() {
            var id = $(this).attr("de_id");
            window.location="${rc.contextPath}/table/toDetail.do?id="+id;
        });


    });//-------------jQuery启动函数结束-------------------------


    //------------------获取数据库表的列表-------------------
    function getTableList() {
        $.ajax({
            url:'${rc.contextPath}/table/getTableList.do',
            type:'post',
            dataType:'json',
            success:function(data) {
                var str = '';
                $.each(data,function(i,t) {
                    str += '<tr style="height: 35px" align="center" id='+t.id+'>';
                    str += '<td width="10%"><input class="selectClass" s_id="'+t.id+'" type="checkbox"></td>';
                    str += '<td width="30%"><a href="javascript:void(0)" class="detailClass" de_id="'+t.id+'">'+t.tableName+'</a></td>';
                    str += '<td width="30%"><input class="updateClass" u_id="'+t.id+'" type="button" value="修改"/></td>';
                    str += '<td width="30%"><input class="delClass" d_id="'+t.id+'" type="button" value="删除"/></td>';
                    str += '</tr>';
                });
                $("#tableList").html(str);
            }
        });
    }


</script>

<body>

    <table  align="center" width="60%" border="1px" cellspacing="0" cellpadding="0">
        <h3 align="center" style="padding: 20px">数据库列表</h3>

        <div align="center" style="padding-bottom: 20px">
            <input id="addTable" type="button" value="添加新表">
        </div>

        <thead align="center">
            <tr style="height: 40px" align="center">
                <td width="10%"><input id="selectAll" type="checkbox"></td>
                <td width="30%">表名称</td>
                <td width="30%">修改</td>
                <td width="30%">删除</td>
            </tr>
        </thead>

        <tbody align="center" id="tableList">

        </tbody>

    </table>

    <div align="center" style="padding: 20px">
        <input id="getDataBtn" type="button" value="获取数据">&nbsp;&nbsp;
        <input id="updateDataBtn" type="button" value="更新数据">
    </div>

    <div align="center" style="padding-bottom: 20px">
        每隔<input id="time" type="text"/>分钟&nbsp;&nbsp;
        <input id="autoUpdate" type="button" value="自动更新">&nbsp;&nbsp;
        <input id="cancleTimer" type="button" value="停止自动更新">
    </div>

    <div align="center"><span id="s_msg" style="color: #2aabd2;"></span></div>

</body>

</html>