<!DOCTYPE html>
<html>
<head>
    <title>连接测试</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="${rc.contextPath}/static/bootstrap_3.3.0/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="${rc.contextPath}/static/bs_pagination/css/jquery.bs_pagination.min.css" type="text/css"/>
    <script type="text/javascript" src="${rc.contextPath}/static/js/jquery-1.11.1-min.js"></script>
    <script type="text/javascript" src="${rc.contextPath}/static/bootstrap_3.3.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="${rc.contextPath}/static/bs_pagination/js/jquery.bs_pagination.min.js"></script>
    <script type="text/javascript" src="${rc.contextPath}/static/bs_pagination/js/localization/en.js"></script>
</head>

<script>

    //自动更新状态的标记变量
    var auto_flag = 0;

    $(function() {

        //-----------------------获取表的名称----------------
        getTableName();

        //--------------------------下拉选项改变----------------
        $("#tableName").change(function() {
            initTableInfo();
        });



        //----------------获取数据---------------------
        $("#getDataBtn").click(function() {
            initTableInfo();
        });

        //------------------更新数据----------------------
        $("#updateDataBtn").click(function() {
            $.ajax({
                url:'${rc.contextPath}/device/updateData.do',
                type:'post',
                data:{
                    tableName:$("#tableName").val()
                },
                beforeSend:function() {
                    $("#updateDataBtn").attr("disabled",true);
                    $("#s_msg").html("正在测试连接,请勿进行其他操作");
                },
                success:function(data) {
                    if(data == -1) {
                        alert("请先进行数据的初始化!");
                    }else if(data == null) {
                        alert("状态更新失败,请重试");
                    }else if(data == 0){
                        alert("数据状态未发生变化");
                    }else {
                        alert("更新成功!共更新"+data+"条数据");
                    }
                },
                complete: function () {
                    $("#updateDataBtn").attr("disabled",false);
                    $("#s_msg").html("");
                }
            });
        });

        //--------------------自动更新---------------------------
        $("#autoUpdate").click(function() {
            var time = $.trim($("#time").val());
            if(time.length == 0) {
                $("#s_msg").html("请输入自动更新的时间间隔");
                return false;
            }else  if(isNaN(time)) {
                $("#s_msg").html("请输入数字");
                return false;
            }else if(time <= 0){
                $("#s_msg").html("请输入正数");
                return false;
            }else {
                $("#s_msg").html("");
                $.ajax({
                    url:'${rc.contextPath}/device/autoUpdateData.do',
                    data:{
                        time:time,
                        tableName:$("#tableName").val(),
                        auto_flag:auto_flag
                    },
                    success:function(data) {
                        $("#s_msg").html("已经启用自动更新");
                        if(data == 1) {
                            $("#autoUpdate").attr("disabled",true);
                            auto_flag = data;
                        }
                    }
                });
            }

        });


        //------------------停止自动更新-----------------
       $("#cancleTimer").click(function() {
           if(auto_flag == 0) {
                return;
           }
           $.ajax({
                url:'${rc.contextPath}/device/cancleTimer.do',
                data:{
                    auto_flag:auto_flag
                },
                success:function(data) {
                    alert("已经停止自动更新");
                    $("#time").val("");
                    $("#s_msg").html("");
                    if(data == 0) {
                        auto_flag = data;
                        $("#autoUpdate").attr("disabled",false);
                    }
                }
            });
        });


    });//-------------jQuery启动函数结束-------------------------



    function getTableName() {
        $.ajax({
            url:'${rc.contextPath}/device/getTableName.do',
            type:'post',
            dataType:'json',
            success:function (data) {
                var str = '';
                if(data == null) {
                    alert("获取表名失败!");
                }else {
                    $.each(data,function(i,d) {
                        str += '<option value="'+d+'">'+ d +'</option>';
                    });
                    $("#tableName").html(str);
                }
            }
        });
    }

    function initTableInfo() {
        $.ajax({
            url:'${rc.contextPath}/device/getData.do',
            data:{
                tableName:$("#tableName").val()
            },
            type:'post',
            beforeSend:function() {
                $("#getDataBtn").attr("disabled",true);
            },
            success:function(data) {
                if(data) {
                    alert("数据获取成功");
                }else {
                    alert("服务器正忙,请稍后重试~");
                }
            },
            complete: function () {
                $("#getDataBtn").attr("disabled",false);
            }
        });
    }

</script>

<body>


<table  align="center" width="75%" border="1px" cellspacing="0" cellpadding="0">
    <h3 align="center" style="padding: 20px">菜单页面</h3>
    <thead align="center">
        <tr style="height: 80px" align="center">
            <td width="20%">选择表</td>
            <td width="20%">操作一</td>
            <td width="20%">操作二</td>
            <td width="40%">操作三</td>
        </tr>
    </thead>
    <tbody align="center">
        <tr style="height: 80px" align="center">
            <td><select id="tableName"></select></td>
            <td><input id="getDataBtn" type="button" value="获取数据"></td>
            <td><input id="updateDataBtn" type="button" value="更新数据"></td>
            <td>
                每隔<input id="time" type="text"/>分钟&nbsp;&nbsp;
                <input id="autoUpdate" type="button" value="自动更新">
                <input id="cancleTimer" type="button" value="停止自动更新">
            </td>
        </tr>
    </tbody>
</table>

<div style="padding: 20px" align="center"><span id="s_msg" style="color: #2aabd2;"></span></div>

</body>
</html>