<!DOCTYPE html>
<html>
<head>
    <title>修改表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="${rc.contextPath}/static/bootstrap_3.3.0/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="${rc.contextPath}/static/bs_pagination/css/jquery.bs_pagination.min.css" type="text/css"/>
    <script type="text/javascript" src="${rc.contextPath}/static/js/jquery-1.11.1-min.js"></script>
    <script type="text/javascript" src="${rc.contextPath}/static/bootstrap_3.3.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="${rc.contextPath}/static/bs_pagination/js/jquery.bs_pagination.min.js"></script>
    <script type="text/javascript" src="${rc.contextPath}/static/bs_pagination/js/localization/en.js"></script>
</head>
<script>

    $(function() {


        $("#updateBtn").click(function() {
            //验证

            $("#tableForm").submit();

        });


    });//-----------------jQuery启动函数结束----------------------

</script>

<body>

<div align="center">
    <h2>修改表</h2>
</div>
<div align="center">
    <form id="tableForm" action="${rc.contextPath}/table/updateTable.do" method="post">
        <input name="id" value="$!{table.id}" type="hidden"/>
        表名:<input id="tableName" name="tableName" value="$!{table.tableName}"/><br/><br/>
        主键字段:<input id="field_id" name="field_id" value="$!{table.field_id}"/><br/><br/>
        IP字段:<input id="field_ip" name="field_ip" value="$!{table.field_ip}"/><br/><br/>
        端口字段:<input id="field_port" name="field_port" value="$!{table.field_port}"/><br/><br/>
        状态字段:<input id="field_status" name="field_status" value="$!{table.field_status}"/><br/><br/>
        类型字段:<input id="field_type" name="field_type" value="$!{table.field_type}"/><br/><br/>
        <input id="updateBtn" value="修改" type="button"/><br/><br/>
    </form>
</div>

</body>
</html>