<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>

<p>欢迎您~</p>


<a href="/check_ip/device/toMenu.do">前往菜单页面</a><br><br>




</body>
</html>